.login-body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("faded_gallery-deT70U8v4os-unsplash.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-box {
  max-width: 400px; /* Added max-width for responsiveness */
  min-height: auto;
  height: auto;
  width: 45%;
  background: rgba(74, 144, 226, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.login-heading {
  margin-bottom: 20px;
  text-align: center;
}

.login-heading h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #ffefba, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-container {
  width: 100%;
  /* max-width: 400px; */
}

.login-field {
  margin-bottom: 20px;
  /* width: 100%; */
}

.login-field input {
  color: white;
}

.login-button {
  width: 100%;
}

.outlined-white .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

@media (max-width: 600px) {
  .login-box {
    width: 80%; /* Adjusted width for smaller screens */
  }
}